<!-- src/app/home/home.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="mostrarAlerta()">Mostrar Alerta</ion-button>
  <ion-button expand="full" routerLink="/page1">Iniciar Sesión</ion-button>
  <ion-button expand="full" routerLink="/page2">Iniciar Sesión</ion-button>
  <ion-button expand="full" routerLink="/page3">Iniciar Sesión</ion-button>
  <ion-button expand="full" routerLink="/page4">Iniciar Sesión</ion-button>
</ion-content>
